@import url(./styles/apresentation.css);
@import url(./styles/footer.css);
@import url(./styles/navbar.css);
@import url(./styles/projects.css);
@import url(./styles/skills.css);
@import url(./styles/aboutme.css);

:root{
  /* fontes */

  --font-size-heading-1: 3rem;
  --font-size-heading-2: 1.5rem;
  --font-size-heading-3: 24px;
  --font-size-paragraph: 24px;

  --font-weight-heading-1: 600;
  --font-weight-heading-2: 500;
  --font-weight-paragraph: 400;


  --background-color: #100F0F;
  --font-color: #EEEDED;
  --link-color: #16FF00;
}


body {
  background-color: var(--background-color);
  font-family: 'DM Sans', sans-serif;
  color: var(--font-color);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-paragraph);
}

main{
  display: flex;
  flex-direction: column;
  gap: 25vh;
  margin: 32vh 0 25vh 0;
}

.projects, .skills, .aboutme{
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.apresentation{
  margin: 0 20%;
  gap: 2rem
}