:root {
  --font-family: 'Inter', sans-serif;
  --font-size-heading-1: 2rem;
  --font-size-heading-2: 1.5rem;
  --font-size-paragraph: 1rem;

  --font-weight-heading-1: 600;
  --font-weight-heading-2: 500;
  --font-weight-paragraph: 400;

  --background-color: #0e0e0e;
  --font-color: #cacaca;
  --hover-color: #222222;
  --link-color: #12d600;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-paragraph);
}

main {
  display: flex;
  flex-direction: column;
  align-items: fle;
  margin: 5rem 10vh 5rem 10vh;
}

.title {
  font-size: var(--font-size-heading-1);
}

.subtitle {
  font-size: var(--font-size-heading-2);
}

.text {
  font-size: var(--font-size-paragraph);
}