header {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar {
    width: 100%;
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    padding: 1rem 3rem;
    height: 3vh;
}

.navbar__list {
    display: flex;
    gap: 1rem;
}

@media(max-width: 1024px) {

    .navbar {
        text-align: center;
        width: 100vw;
        position: relative;
        background: none;
        border-radius: 0;
        background-color: var(--background-color);
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        padding: 2rem 0;
    }


    .navbar__list{
        display: none;
    }

    .navbar__list.active {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 9rem;
        position: absolute;
        opacity: 100%;
        width: 100vw;
        background-color: var(--background-color);
        top: 0;
    }

    .navbar__hamburguer {
        display: block;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .bar {
        display: block;
        width: 32px;
        height: 1px;
        border-radius: 1px;
        margin: 8px auto;
        background-color: var(--font-color);
        transition: all 0.3s ease-in-out;
    }

    .navbar__hamburguer.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 8px);
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition-property: all;
    }

    .navbar__hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar__hamburguer.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition-property: all;
    }
}