.projects{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    text-align: center;
    gap: 2rem;
}

.projects__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.projects__list__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border: var(--font-color) solid 1px;
}

.projects__list__item__link{
    color: var(--link-color);
    text-decoration: none;
}

/* Estilos para tablet (tamanho máximo de 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .projects__list {
        grid-template-columns: 1fr;
    }
}

/* Estilos para mobile (tamanho máximo de 480px) */
@media (max-width: 480px) {
    .projects__list {
        grid-template-columns: 1fr
    }
}