:root {
    --font-family: 'Nunito Sans', sans-serif;
    --font-size-heading-1: 2rem;
    --font-size-heading-2: 1.5rem;
    --font-size-paragraph: 1.15rem;
  
    --font-weight-heading-1: 700;
    --font-weight-heading-2: 600;
    --font-weight-paragraph: 400;
  
    --background-color: #F6F5F2;
    --font-color: #03001C;
    --link-color:   #176FEB;
    --transparation-color: #03001cc5;

    --background-color-dark-mode: #0f0008f1;
    --font-color-dark-mode: #F6F5F2;
    --link-color-dark-mode:   #176FEB;
    --transparation-color-dark-mode: #f6f5f2a2;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-paragraph);
  }
  
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10%;
  }
  
.title {
    font-size: var(--font-size-heading-1);
    margin: 0 0 1.5rem 0; 
  }
  
.subtitle {
    font-size: var(--font-size-heading-2);
    margin: 1.5rem 0 1rem 0;
  }
  
.text {
    font-size: var(--font-size-paragraph);
    margin: 1rem 0 1rem 0;
    line-height: 170%;
  }

.apresentation__text-observacao {
  font-weight: 300;
  color: var(--transparation-color);
}
  
.links__texto {
  margin: 1rem 0;
}

.links__link {
    color: var(--link-color);
    text-decoration: none;
  }

.links__link:hover {
  text-decoration: underline;
}

.skills {
  list-style-type: "✔ ";
}

.skills__item {
  margin: 0.25rem 0 0.25rem -5%;
  line-height: 170%;
}

@media screen and (max-width: 400px) {
  .skills__item{
    margin-right: -10%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: var(--background-color-dark-mode);
      color: var(--font-color-dark-mode);
  }

  .links__link {
    color: var(--link-color-dark-mode);
    text-decoration: none;
  }

  .links__link:hover {
    text-decoration: underline;
  }

  .apresentation__text-observacao {
    font-weight: 300;
    color: var(--transparation-color-dark-mode);
  }
}